extends mixins

block base
  doctype 5
  html(
    lang='en'
    )
    head
      meta(
        http-equiv='Content-Type'
        content='text/html; charset=UTF-8'
        )
      meta(
        http-equiv='X-UA-Compatible'
        content='IE=edge'
        )
      meta(
        name='viewport'
        content='width=device-width, initial-scale=1'
        )
      if title
        title #{title} - #{base.title}
      else
        title #{base.title}
      block head
      block style
    body
      block body
      block script
